# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
*.moved-aside
*.ipa
*.dSYM
*.dSYM.zip
*.dSYM.tar.gz

# Swift Package Manager
.build/
Packages/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Temporary files
*.swp
*.tmp
*~

# Logs
*.log
